@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@300;400&display=swap");
@import url("https://fonts.google.com/specimen/Abril+Fatface?query=abril+fatf");

/* HEADER */

.date {
  font-family: Roboto;
  font-size: 15px;
  color: darkgray;
  padding: 5px 0 0 5px;
}

body {
  width: 700px;
  height: auto;
  background-color: #eee;
  border: 1px solid #eee;
  box-shadow: 0 5px 5px 0 #ddd;
  font-family: Source Sans Pro;
}

/* NAV */

.newspaper-container {
  margin: 0 auto;
  border: 1px 0 1px 0 solid black;
  background-color: white;
  padding: 5px;
  border-radius: 2%;
  box-shadow: 5px 5px 5px 5px #ddd;
}

nav {
  margin: 10px 0;
  background-color: white;
  text-align: center;
}

nav ul {
  padding: 1px;
  margin: 10px;
  list-style: none;
  position: relative;
  border-top: 1px solid darkgrey;
  border-bottom: 1px solid darkgray;
}

nav ul li {
  display: inline-block;
  background-color: white;
}

nav a {
  display: inline-flex;
  padding: 20px;
  color: #777;
  font-size: 8px;
  line-height: 10px;
  text-decoration: none;
}

nav a:hover {
  background-color: lightgrey;
}

/* TITLE */

h1 {
  text-align: center;
  font-family: Abril Fatface;
  font-size: 65px;
}

/* BODY */
main > p {
  color: #dd3232;
}

.article-images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 87%;
}

h5 {
  color: red;
  font-weight: bold;
  font-size: 12px;
}

h2 {
  font-family: Roboto Slab;
  font-size: 30px;
}

.more-articles {
  display: inline-flex;
  text-align: center;
  border-top: 1px solid darkgray;
}
